pkgbase = bareos-scripts
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/snuglinux/bareos-scripts
	install = bareos-scripts.install
	arch = any
	license = GPL2
	depends = python2-bareos
	source = https://github.com/snuglinux/bareos-scripts/archive/0.0.1.zip
	md5sums = 6c306a419c41a8eeaa75744bba00fe73

pkgname = bareos-scripts
